{% extends "layout.html" %}
{% block content %}
	<!-- Header -->
	<h1> About Page </h1>

	<!-- Body - Introduction/Bio -->
	<p>
		"Courage is the first of human virtue, because it makes all things possible. You will not believe what you can accomplish by attempting the impossible with the courage to fail forward." 
	</p>
	<br>
	<p>
		This is my flask framework project that allows my users to create an account, share content based on health and fitness, personlizing their page, and join a like-minded community.  
	</p>
	<br>
	<p>
		I have spent my time self-studying and becoming proficient in Python, Oracle SQL, Microsoft SQL server, HTML, CSS, and Javascript. I applied the tools and skills I learned to create this project. My career goal is to become a large asset on a great development team that I can build a great relationship with my team members and customers. 
	</p>
{% endblock content %}



